*{
    padding: 0;
    margin: 0;
}
:root {
    --white: #e8e8f7;
    --purpuraClaro: #544cf3;
    --purpuraOscuro: #542bf4;
    /*font-family: 'Poppins', sans-serif;
 font-family: 'Roboto', sans-serif;*/
 }
 .box-card{
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 7px;
    display: inline-block;
    margin: 10px;
    padding:20px;
    text-align: center;
    width: 100%;
}

